svg {
  border: 0.1em solid black;
  width: 50em;
  height: 25em;

  circle {
    fill: transparent;
    stroke: black;
    stroke-width: 0.02em;
  }

  g.samples {
    circle {
      fill: black;
      stroke: none;
    }
  }
}
