* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

svg {
  border: 0.1em solid black;
  width: 50em;
  height: 25em;

  circle {
    fill: transparent;
    stroke: black;
    stroke-width: 0.02em;
  }

  g.samples {
    circle {
      fill: black;
      stroke: none;
    }

    line {
      stroke: black;
      stroke-width: 0.02em;
    }
  }
}

div.command {
  border: 0.1em solid black;
  width: 50em;
  padding: 0.5em;

  display: flex;
  flex-flow: column;
  gap: 0.5em;

  label {
    display: flex;
    flex-flow: column;
  }
}
